/* COMMON CSS START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

ul li {
    list-style-type: none;
}

h1 h2 h3 h4 h5 h6 p {
    line-height: 0.8px;
}

/* COMMON CSS END */



/* NAVBAR CSS START */
.navbar {
    background: rgb(107, 98, 197, 0.8);
    padding: 18px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-expand-lg ul li:first-child a {
    color: #1BBF00;
}

.navbar-expand-lg ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all linear 0.2s;
}
.navbar-expand-lg ul li:last-child a{
    display: none;
}

.navbar-expand-lg ul li a:hover {
    color: #1BBF00;
}

.nav-btn a {
    background: #1BBF00;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 14px 28px;
    border-radius: 100px;
}

.nav-btn a:hover {
    background: #22ff00;
    color: #000;
    transition: 0.9s;
}

/* NAVBAR CSS END */



/* BANNER CSS START */

#banner {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 248px;
    padding-bottom: 254px;
    position: relative;
    z-index: 1;
}

#banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(107, 98, 197, 0.7);
    z-index: -1;
}

#banner .banner-details h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 84px;
    font-weight: 700;
    color: #FAFAFE;
}

#banner .banner-details p {
    font-family: "Paprika", system-ui;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #E6E5F3;
    width: 715px;
    margin: 0 auto;
    padding-top: 18px;
}

#banner .banner-details .btns {
    display: flex;
    gap: 28px;
    padding-left: 280px;
    padding-top: 16px;
}

#banner .banner-details .banner-green-btn a {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 100px;
    width: 232px;
    background: #1BBF00;
    color: #fff;
}

#banner .banner-details .banner-green-btn a:hover {
    background: #22ff00;
    color: #000;
    transition: 0.9s;
}

#banner .banner-details .banner-greenborder-btn a {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 17px 28px;
    border-radius: 100px;
    width: 195px;
    border: 2px solid #1BBF00;
    color: #fff;
}

#banner .banner-details .banner-greenborder-btn a:hover {
    background: #22ff00;
    color: #000;
    transition: 0.9s;
}

/* BANNER CSS END */



/* HAPPY CSS START */
#happy .col-lg-3 {
    text-align: center;
    position: relative;
}

#happy {
    padding-top: 291px;
    padding-bottom: 274px;
    position: relative;
    background: #F9F9FB;
}

#happy .back-right {
    position: absolute;
    top: 0;
    right: 0;
    color: #EDE6F7;
    z-index: 3;
}

#happy .first-part ::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 192px;
    background: #4F585F;
    opacity: 0.2;
    border-radius: 5px;
}

#happy .col-lg-3 h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: #1BBF00;
}

#happy .col-lg-3 p {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #141135;
}

/* HAPPY CSS END */



/* CHOOSE CSS START */
#choose {
    position: relative;
    background: #FDFDFD;
    padding-top: 100px;
    padding-bottom: 91px;
}

#choose .choose-img {
    position: absolute;
    top: 0;
    left: 0;
}

#choose .choose-list .choose-circle {
    width: 25px;
    height: 25px;
    background: #1BBF00;
    border-radius: 50%;
    position: relative;
}

#choose .choose-list .choose-circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 14px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #CBC8F0;
}

#choose .choose-list .lists {
    padding-left: 28px;
    padding-bottom: 10px;
}

#choose .choose-list .lists a {
    display: flex;
}

#choose .choose-list .lists:hover {
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 #00000033;
    width: 568px;
    border-radius: 12px;
    padding-top: 42px;
    padding-bottom: 24px;
    margin-bottom: 20px;
    transition: 0.5s;
}

#choose .choose-list .lists p {
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    width: 319px;
    padding-left: 37px;
}

#choose .right-part-1 {
    margin-left: 186px;
}

#choose .right-part-1 h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #141135;
}

#choose .right-part-1 p {
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: #726E9E;
    width: 393px;
    line-height: 30px;
    padding-top: 9px;
}

#choose .right-part-1 .choose-btn a {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    background-color: #1BBF00;
    border-radius: 100px;
    margin-top: 41px;
    color: #F9F9F9;
}

#choose .right-part-1 .choose-btn a:hover {
    background-color: #22ff00;
    color: #000;
    transition: 0.9s;
}

/* CHOOSE CSS END */




/* DO CSS START */
#do-part {
    background-color: #F6F5FF;
    padding: 100px 0;
}

#do-part .col-lg-4 h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #141135;
}

#do-part .col-lg-4 p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6C7D93;
    width: 345px;
    line-height: 32px;
    padding-top: 20px;
}

#do-part .col-lg-4 .do-btn a {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    background-color: #1BBF00;
    border-radius: 100px;
    margin-top: 30px;
    color: #F9F9F9;
}

#do-part .col-lg-4 .do-btn a:hover {
    background-color: #22ff00;
    color: #000;
    transition: 0.9s;
}

#do-part .col-lg-4 .card-details {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    background-color: #fff;
}

#do-part .col-lg-4 .card-details:hover {
    background: #6B62C5;
    color: #fff;
    transition: 0.9s;
    box-shadow: -15px 30px 50px 0 #ABAFC7;
}
#do-part .card-details:hover h3,
#do-part .card-details:hover h5,
#do-part .card-details:hover .do-1-btn a{
    color: #fff;
}


#do-part .col-lg-4 .card-details h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding-top: 32px;
}

#do-part .col-lg-4 .card-details  h5{
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    width: 290px;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    padding-top: 16px;
}
#do-part .col-lg-4 .card-details  .do-1-btn a:hover{
    color: #fff;
}
#do-part .col-lg-4 .card-details .do-1-btn a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 10px;
    border-radius: 100px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

#do-part .col-lg-4 .card-details .do-1-btn a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: #1BBF00;
    height: 100%;
    width: 20%;
    z-index: -1;
    transition: all linear 0.3s;
}

#do-part .col-lg-4 .card-details .do-1-btn a:hover::after {
    background: #ffffff;
    opacity: 0.3;
    z-index: 8;
    width: 100%;
}
#do-part .col-lg-4 .card-details .do-1-btn a:hover{
    color: #fff;
    z-index: 9;
}




/* DO CSS END */




/* CREATE CSS START */
#create {
    padding-bottom: 187px;
}

#create .container .up-head h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #141135;
    padding-top: 91px;
}

#create .container .up-head p {
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    padding-top: 23px;
    line-height: 30px;
    color: #726E9E;
    width: 558px;
    margin: 0 auto;
}

#create .left-side .left {
    display: flex;
    padding-top: 40px;
}

#create .left-side .texts h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 35px;
    color: #141135;
}

#create .left-side .texts p {
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 35px;
    color: #726E9E;
    width: 363px;
}

#create .col-lg-6 {
    padding-top: 50px;
}

#create .images-1 {
    position: relative;
    padding-top: 91px;
}

#create .col-lg-6 .images-1 .dotted {
    position: absolute;
    top: 88px;
    right: 67px;
    z-index: 9;
}

#create .col-lg-6 .images-1 .right-imgs-1 {
    position: absolute;
    top: 0;
    left: 0;
}

#create .col-lg-6 .images-1 .right-imgs-2 img {
    position: absolute;
    top: 198%;
    left: 37%;
    border-radius: 20px;
    border: 8px solid #fff;
}

#create .col-lg-6 .images-1 .right-imgs-3 img {
    position: absolute;
    top: 39px;
    left: 49%;
    border-radius: 20px;
}

#create {
    position: relative;
}

#create .backg-img .ima {
    position: absolute;
    right: 0;
    bottom: 0px;
}

/* CREATE CSS END */




/* RIGHT-PLAN CSS START */
#right-plan {
    background: #F9F9FB;
    padding-top: 100px;
    padding-bottom: 100px;

}

#right-plan .plans-head h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #141135;
    padding-bottom: 64px;
}

#right-plan .col-lg-4 {
    width: 370px;
    margin: 0 auto;
}

#right-plan .col-lg-4 {
    background-color: #fff;
    border-radius: 20px;
    padding: 60px 0;
    width: 370px;
}


#right-plan .col-lg-4:hover {
    background: #6B62C5;
    color: #fff;
    transition: 0.9s;
    box-shadow: -15px 30px 50px 0 #ABAFC7;
}

#right-plan .col-lg-4 a:hover {
    color: #fff;
}


#right-plan .box h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

#right-plan .col-lg-4 .doller {
    padding-top: 20px;
}

#right-plan .col-lg-4 .doller h4 {
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 50px;
    color: #1BBF00;
    position: relative;
}

#right-plan .col-lg-4 .doller h4 span {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
    color: #1BBF00;
    position: absolute;
    top: 2px;
    left: 126px;
}

#right-plan .col-lg-4 .box p {
    font-family: "Paprika", system-ui;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 252px;
    margin: 0 auto;
    text-align: center;
}


/* RIGHT-PLAN CSS END */



/* THINK CSS START */
#think{
    background-color: #F8F8FF;
    padding-top: 100px;
    padding-bottom: 100px;
}
#think .think-details .think-head h2{
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #141135;
    padding-bottom: 130px;
}

#think .think-text {
    position: relative;
}
#think .think-text .icons .icon-1 a{
    color: #1BBF00;
    opacity: 0.2;
    font-size: 64px;
    position: absolute;
    bottom: 40%; right: -15%;
}
#think .think-text .icons .icon-1 a:hover{
    opacity: 100%;
    color: #1BBF00;
    transition: 0.5s;
}
#think .think-text .icons .icon-2 a:hover{
    opacity: 100%;
    color: #1BBF00;
    transition: 0.5s;
}
#think .think-text .icons .icon-2 a{
    color: #1BBF00;
    opacity: 0.2;
    font-size: 64px;
    position: absolute;
    bottom: 40%; left: -15%;
}


#think .think-text .thin-img{
    position: relative;
}
#think .think-text .thin-img img{
    position: absolute;
    width: 147px;
    top: -68px;
    border-radius: 50%;
    transform: translateX(-50%);
}
#think .think-text {
    background: #fff;
    border-radius: 20px;
    width: 1080px;
    margin: 0 auto;
    box-shadow: -15px 30px 50px 0 #ABAFC7;
}
#think .think-text .stars img{
    padding-top: 120px;
}
#think .think-text .text p{
    font-family: "Paprika", system-ui;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    width: 800px;
    padding-top: 34px;
    color: #726E9E;
    margin: 0 auto;
    text-align: center;
}
#think .think-text .think-bottm h3{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-top: 48px;
    color: #221A2C;
}
#think .think-text .think-bottm h6{
    font-family: "Paprika", system-ui;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 56px;
    color: #726E9E;
}
/* THINK CSS END */



/* LIKE CSS START */
#like{
    background-color: #F9F9FB;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
#like .like-backg {
    position: absolute;
    left: 0;
    bottom: 0;
}
#like .like-title h2{
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-left: 94px;
    color: #221A2C;
}
#like .row {
    align-items: center;
}
#like  .col-lg-4{
    padding-top: 64px;
    padding-left: 91px;
}
#like  .col-lg-6{
    padding-top: 64px;
    padding-left: 100px;
}
#like  .col-lg-4 img{
    width: 300px;
    border-radius: 20px;
}
#like  .col-lg-6 .who-posted h6{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #726E9E;
}
#like  .col-lg-6 .who-posted h6  .one{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1BBF00;
    padding-right: 35px;
}
#like  .col-lg-6 .who-posted h6  .two{
    padding-right: 8px;
}
#like  .col-lg-6 .who-posted h6  .three{
    padding-left: 24px;
}
#like  .col-lg-6 h3{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #141135;
    padding-top: 16px;
    line-height: 55px;
    width: 547px;
}
#like  .col-lg-6 .like-btn{
    margin-top: 16px;
    margin-right: 10px;
}

#like  .col-lg-6 .like-btn  a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 10px;
    border-radius: 100px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#like  .col-lg-6 .like-btn a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: #1BBF00;
    opacity: 0.6;
    height: 100%;
    width: 20%;
    transition: all linear 0.3s;
    z-index: -1;
}

#like  .col-lg-6 .like-btn a:hover::after {
    background: #1BBF00;
    width: 100%;
}
/* LIKE CSS END */



/* FOOTER CSS START */
#footer{
    background-color: #48409C;
    padding-top: 140px;
    padding-bottom: 57px;
}
#footer .col-lg-5 p{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    color: #FEFEFE;
    padding-top: 44px;
}
#footer .col-lg-5 h6{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    color: #FEFEFE;
    padding-top: 189px;
}

#footer .col-lg-2{
    padding-left: 90px;
}
#footer .col-lg-2 h3{
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    color: #FEFEFE;
    padding-bottom: 7px;
    padding-left: 31px;
}
#footer .col-lg-2 ul li{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #FEFEFE;
    padding-top: 30px;
}

#footer .col-lg-3{
    padding-left: 100px;
}
#footer .col-lg-3 h3{
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    color: #FEFEFE;
    padding-bottom: 7px;
    padding-left: 31px;
}
#footer .col-lg-3 ul li{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #FEFEFE;
    padding-top: 30px;
}
#footer .col-lg-3 .privacy{
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    color: #FEFEFE;
    padding-top: 188px;
    padding-left: 93px;
}
#footer .col-lg-2 .terms{
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    line-height: 180%;
    color: #FEFEFE;
    padding-top: 188px;
    padding-left: 11px;
    width: 174px;
}
#footer .col-lg-2 .last-footer{
    padding-left: 0px;
}

#footer .col-lg-2 .last-footer h3{
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    color: #FEFEFE;
    padding-bottom: 7px;
    padding-left: 31px;
}
#footer .col-lg-2 .last-footer ul li{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    width: 160px;
    color: #FEFEFE;
    padding-top: 30px;
}
#footer .footer-footer {
    display: none;
}
/* FOOTER CSS END */